body{
  padding: 30px;
  color: #333;
  /*overflow: hidden;*/
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  background-image: none;
}
.breadcrumb div {
	margin: auto 20px;
}
.row .floatL{
	float: left;
	margin: 10px -5px;
}
.row .floatL button.multiselect{
	margin-left: -20px;
}
#select_terminal_2 + div{
	margin-left: 0px;
}
#btn_apply_search{
	float: right;	
	position: relative;
	margin-right: 20px;	
	bottom: -10px;
}
g {
	margin-top: -100px;
}